#messages { margin: 30px; }

.messagecode { margin: 30px; }

.lint-info { margin-bottom: 10px; background-color: #FACC2E;  }

.codearea { margin: 30px; }

.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}
.CodeMirror-scroll {
  height: auto;
  overflow-y: hidden;
  overflow-x: auto;
}

.stat { margin: 10px; }

[data-notifications] {
  position: relative;
}

[data-notifications]:after {

  content: attr(data-notifications);

  position: absolute;
  background: red;
  border-radius: 50%;
  display: inline-block;
  padding: 0.3em;
  color: #f2f2f2;
  right: -15px;
  top: -15px;   
}
